.header-logo{
    object-fit: contain;
    margin-left:30px;
    height:100px;
    width:100px;
}
input{
    max-width: 300px;
    padding:3px 7px;
    margin-top:10px;
    width:100%;
    height:30px;
    margin-bottom:20px;
}
a{
    text-decoration: underline;
    color:#2162a1;
    font-weight: 600;
}
hr{
   margin:20px;
}