.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255,255,255,0.2);
  border-top-color: #1e90ff;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}
.loader{
      width:100%;
      display:flex;
      justify-content: center;
      padding: 20px 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
