.footer-logo{
    object-fit: contain;
    margin-left:30px;
    margin-top:10px;
    height:50px;
    width:100px;
}
span{
    margin: 10px;
    font-size: 12px;
    font-family: 'Amazon Ember', 'Amazon Arabic Ember', Arial, sans-serif;
    transition:color 0.2s ease-in-out;
}
.footer-text{
    text-decoration: none;
}