.container{
    background-color: black;
}
span{
    color:white
}
.cards-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  margin:10px;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

.cards-row::-webkit-scrollbar {
  display: none;
}
