.prime-card-row {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 0;
  background-color: #141414;
  position: relative;
}

.prime-card-wrapper {
  position: relative;
  width: 240px;
  cursor: pointer;
  border-radius: 6px;
}

.prime-card-display {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.prime-card-display.hovered {
  transform: scale(1.07);
  z-index: 100;
}
.prime-card-hover {
  position: absolute;
  max-height:600px;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  color: white;
  width:250px;
  border-radius: 8px;
  padding: 15px;
  pointer-events: auto;
  box-shadow: 0 12px 25px rgba(0,0,0,0.8);
  animation: fadeIn 0.2s ease;
}

.prime-card-hover-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.prime-card-hover-content {
  margin-top: 8px;
  display: flex;
  overflow:hidden;
  flex-direction: column;
  gap: 5px;
}

.hover-title {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.hover-buttons {
  display: flex;
  gap: 6px;
  margin: 5px 0;
}

.hover-play-btn {
  padding: 6px 14px;
  background-color: #00a8e1;
  border: none;
  width:50%;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.hover-play-btn:hover {
  background-color: #0090c1;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(-50%) translateY(10px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}




