.prime_card {
  width: 220px;
  height: 330px;
  position: relative;
  cursor: pointer;
  transition: transform 0.25s ease;
  border-radius: 8px;
  z-index: 1;
}

.prime_card:hover {
  transform: translateY(-6px);
  z-index: 50;
  max-height: 800px;
}

.prime_card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 0.3 ease;
}

.prime_card_image_hovered {
  position: absolute;
  top: -40px;
  left: 0;
  width: 250px;
  height: 380px;
  transform: scale(1.12);
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(85%);
}

.prime_hover_container {
  position: absolute;
  top: 110px;
  left: 55%;
  transform: translateX(-50%);
  width: 280px;
  padding: 14px;
  border-radius: 8px;
  background-color: #111;
  color: white;
  z-index: 10;
  opacity: 0;
  animation: fade_in_prime 0.22s forwards ease-out;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.7);
}

.prime_title {
  font-size: 24px;
  font-weight: 700;
}

.prime_play_button {
  margin-top: 10px;
  width: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #00a8e1;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.prime_play_button:hover {
  background-color: #008bbf;
}

.prime_rating {
  margin-top: 8px;
  font-size: 18px;
  color: #fff;
}

.prime_membership {
  margin-top: 3px;
  color: rgb(6, 167, 196);
  font-size: 18px;
}

.prime_overview {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}

@keyframes fade_in_prime {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
}