.header-logo{
    object-fit: contain;
    margin-left:30px;
    height:100px;
    width:100px;
}
.nav-button.active {
  background-color: #007bff; /* Active button color */
}
@media screen and (max-width:786px) {
  .app-header{
    font-size: 12px;
    display:flex;
    width:100%;
    gap:1px;
  }
}