.embla {
  position: relative;
  max-width: 100%;
  margin-top:100px;
  background: #000;
  overflow-x: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  width: 100%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  width:100%;
  max-height: 700px;
  transition: all 0.35s ease 0s;
}

.embla__slide__img {
  width: 100%;
  object-fit: contain !important;
  margin-top:18px;
  opacity:0.5;
  transition:smooth 2s ease-in-out
}

.embla__overlay {
  position: absolute;
  bottom: 30%;
  left: 5%;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.embla__overlay h1 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.embla__buttons__overlay {
  display: flex;
  gap: 12px;
}

.watch-now-btn {
  background-color: grey;
  color: #fff;
  padding: 15px 22px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}

.watch-now-btn:hover {
  background-color: #e4e4e4;
  color:#000;
}
.plus-button{
    padding:20px;
}

.embla__buttons {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  transform: translateY(-50%);
}

.embla__button {
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  font-size: 4rem;
  padding: 8px 15px;
  margin:20px;
  cursor: pointer;
}

.embla__button:hover {
  background: rgba(0,0,0,0.6);
}


@media screen  and (max-width:768px){
  .embla__viewport{
    overflow: hidden;
  width: 100%;
  height:400px;
  }
  .embla__slide__img{
    height:100%;
  }
}